<div id="map_canvas"></div>


<div id="navbox" >
  <p class="title">
    Safety Ratings
  </p>
  <p> 
    <div id="eighty" class="inline"></div>
    <div class="inline">= 80% and up</div>
  </p>
  <br/>
  <p>
    <div id="sixy_to_eighty" class="inline"></div>
    <div class="inline">= 60% to 80%</div>
  </p>
  <br/>
  <p>
    <div id="sixy_and_below" class="inline"></div>
    <div class="inline">= below 60%</div>
  </p>
</div>