


<div class="navbar" style="height: 18px;">
  <div class="navbar-inner">
    <div class="container">
      <div class="brand">
        CPS Report Card 2011-12
      </div>
      
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
         <span class="icon-bar"></span>
      </a>

      <div class="nav-collapse" style="padding-top: 8px">

        <div class="inline">Safety Ratings:</div>

        <div id="eighty" class="inline"></div>
        <div class="inline">= 80% and up</div>

        <div id="sixy_to_eighty" class="inline"></div>
        <div class="inline">= 60% to 80%</div>

        <div id="sixy_and_below" class="inline"></div>
        <div class="inline">= below 60%</div>

    </div>
    </div>
  </div>
</div>

<div id="map_canvas"></div>