// Place all the styles related to the schools controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#map_canvas img { max-width: none; }

#school_title { margin: 20px 300px; }
#school_info p { font-size: 100%; }
#school_info.hero_unit { height:900px;}
