<!DOCTYPE html>
<html>
<head>
  <title>Chicago Public Schools Report Card 2011-12</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCkdDWnvuhvDQcmN4AgJYgBE1UiEJSRubE&sensor=false"></script> 

  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  
  <%= csrf_meta_tags %>
</head>
<body onload="initialize()">

<%= yield %>

<div id="navbox" >
  Hello
</div>

</body>
</html>
