<!DOCTYPE html>
<html>
<head>
  <title>Chicago Public Schools Report Card 2011-12</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCkdDWnvuhvDQcmN4AgJYgBE1UiEJSRubE&sensor=false"></script> 

  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

  <!-- <input id="goToAddress" type="text" style="margin-left:5px; width:215px;" onkeypress="handleKeyPress(event, '#goToAddress')" name="goToAddress" value="City, Address, or Zip"> -->
  <!-- <button type="button" onclick="checkAddress('#goToAddress');">Go</button> -->
  
  <!-- <button id="go_button">GO!</button> -->
</div>


</body>
</html>
